{% raw -%}
{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": {
          "type": "grafana",
          "uid": "-- Grafana --"
        },
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "target": {
          "limit": 100,
          "matchAny": false,
          "tags": [],
          "type": "dashboard"
        },
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": 7,
  "iteration": 1681291393275,
  "links": [],
  "liveNow": false,
  "panels": [
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "id": 4,
      "panels": [],
      "title": "All Salt State Jobs",
      "type": "row"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${DS_PROMETHEUS}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto",
            "filterable": false,
            "inspect": true
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "mods"
            },
            "properties": [
              {
                "id": "mappings",
                "value": [
                  {
                    "options": {
                      "HIGHSTATE": {
                        "color": "green",
                        "index": 0,
                        "text": "HIGHSTATE"
                      }
                    },
                    "type": "value"
                  },
                  {
                    "options": {
                      "pattern": ".*",
                      "result": {
                        "color": "text",
                        "index": 1
                      }
                    },
                    "type": "regex"
                  }
                ]
              },
              {
                "id": "custom.displayMode",
                "value": "color-text"
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Progress"
            },
            "properties": [
              {
                "id": "custom.displayMode",
                "value": "basic"
              },
              {
                "id": "max",
                "value": 1
              },
              {
                "id": "unit",
                "value": "percentunit"
              },
              {
                "id": "decimals",
                "value": 0
              },
              {
                "id": "thresholds",
                "value": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "green",
                      "value": null
                    }
                  ]
                }
              },
              {
                "id": "custom.align",
                "value": "center"
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Succeeded"
            },
            "properties": [
              {
                "id": "custom.displayMode",
                "value": "basic"
              },
              {
                "id": "max",
                "value": 1
              },
              {
                "id": "unit",
                "value": "percentunit"
              },
              {
                "id": "decimals",
                "value": 0
              },
              {
                "id": "thresholds",
                "value": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "red",
                      "value": null
                    },
                    {
                      "color": "orange",
                      "value": 0.3
                    },
                    {
                      "color": "yellow",
                      "value": 0.5
                    },
                    {
                      "color": "green",
                      "value": 0.8
                    }
                  ]
                }
              },
              {
                "id": "custom.align",
                "value": "center"
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Failed"
            },
            "properties": [
              {
                "id": "custom.displayMode",
                "value": "basic"
              },
              {
                "id": "max",
                "value": 1
              },
              {
                "id": "unit",
                "value": "percentunit"
              },
              {
                "id": "decimals",
                "value": 0
              },
              {
                "id": "thresholds",
                "value": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "green",
                      "value": null
                    },
                    {
                      "color": "yellow",
                      "value": 0.3
                    },
                    {
                      "color": "orange",
                      "value": 0.5
                    },
                    {
                      "color": "red",
                      "value": 0.7
                    }
                  ]
                }
              },
              {
                "id": "custom.align",
                "value": "center"
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Timed out"
            },
            "properties": [
              {
                "id": "custom.displayMode",
                "value": "basic"
              },
              {
                "id": "max",
                "value": 1
              },
              {
                "id": "unit",
                "value": "percentunit"
              },
              {
                "id": "decimals",
                "value": 0
              },
              {
                "id": "thresholds",
                "value": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "green",
                      "value": null
                    },
                    {
                      "color": "yellow",
                      "value": 0.1
                    },
                    {
                      "color": "orange",
                      "value": 0.4
                    },
                    {
                      "color": "red",
                      "value": 0.7
                    }
                  ]
                }
              },
              {
                "id": "custom.align",
                "value": "center"
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Test"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 50
              },
              {
                "id": "mappings",
                "value": [
                  {
                    "options": {
                      "False": {
                        "color": "transparent",
                        "index": 0,
                        "text": "-"
                      },
                      "True": {
                        "color": "blue",
                        "index": 1,
                        "text": "TEST"
                      }
                    },
                    "type": "value"
                  }
                ]
              },
              {
                "id": "custom.displayMode",
                "value": "color-background-solid"
              },
              {
                "id": "custom.align",
                "value": "center"
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Targeted"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 100
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Function"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 150
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 9,
        "w": 24,
        "x": 0,
        "y": 1
      },
      "id": 73,
      "options": {
        "footer": {
          "fields": "",
          "reducer": [
            "sum"
          ],
          "show": false
        },
        "showHeader": true,
        "sortBy": [
          {
            "desc": true,
            "displayName": "Targeted"
          }
        ]
      },
      "pluginVersion": "8.5.15",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_PROMETHEUS}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "max by (fun,test,mods) (salt_state_jobs{instance=\"$server:$saline_port\",status=\"targeted\"})",
          "format": "table",
          "instant": true,
          "legendFormat": "Targeted",
          "range": false,
          "refId": "Targeted"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_PROMETHEUS}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "1 - (max by (fun,test,mods) (salt_state_jobs{instance=\"$server:$saline_port\",status=\"pending\"}) / max by (fun,test,mods) (salt_state_jobs{instance=\"$server:$saline_port\",status=\"targeted\"}))",
          "format": "table",
          "hide": false,
          "instant": true,
          "legendFormat": "Progress",
          "range": false,
          "refId": "Progress"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_PROMETHEUS}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "(max by (fun,test,mods) (salt_state_jobs{instance=\"$server:$saline_port\",status=\"succeeded\"}) / max by (fun,test,mods) (salt_state_jobs{instance=\"$server:$saline_port\",status=\"targeted\"}))",
          "format": "table",
          "hide": false,
          "instant": true,
          "legendFormat": "Pending",
          "range": false,
          "refId": "Succeeded"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_PROMETHEUS}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "(max by (fun,test,mods) (salt_state_jobs{instance=\"$server:$saline_port\",status=\"failed\"}) / max by (fun,test,mods) (salt_state_jobs{instance=\"$server:$saline_port\",status=\"targeted\"}))",
          "format": "table",
          "hide": false,
          "instant": true,
          "legendFormat": "Pending",
          "range": false,
          "refId": "Failed"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_PROMETHEUS}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "(max by (fun,test,mods) (salt_state_jobs{instance=\"$server:$saline_port\",status=\"timedout\"}) / max by (fun,test,mods) (salt_state_jobs{instance=\"$server:$saline_port\",status=\"targeted\"}))",
          "format": "table",
          "hide": false,
          "instant": true,
          "legendFormat": "Pending",
          "range": false,
          "refId": "TimedOut"
        }
      ],
      "title": "Salt State Jobs (instant)",
      "transformations": [
        {
          "id": "merge",
          "options": {}
        },
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "Time": true,
              "__name__": true,
              "instance": true,
              "job": true
            },
            "indexByName": {
              "Time": 8,
              "Value #Failed": 6,
              "Value #Progress": 4,
              "Value #Succeeded": 5,
              "Value #Targeted": 3,
              "Value #TimedOut": 7,
              "fun": 0,
              "mods": 1,
              "test": 2
            },
            "renameByName": {
              "Time": "",
              "Value #Failed": "Failed",
              "Value #Pending": "Pending",
              "Value #Progress": "Progress",
              "Value #Succeeded": "Succeeded",
              "Value #Targeted": "Targeted",
              "Value #TimedOut": "Timed out",
              "fun": "Function",
              "mods": "MODS",
              "test": "Test"
            }
          }
        }
      ],
      "type": "table"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${DS_PROMETHEUS}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto",
            "filterable": true,
            "inspect": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Succeeded"
            },
            "properties": [
              {
                "id": "mappings",
                "value": [
                  {
                    "options": {
                      "match": "null",
                      "result": {
                        "index": 1,
                        "text": "0"
                      }
                    },
                    "type": "special"
                  }
                ]
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Failed"
            },
            "properties": [
              {
                "id": "mappings",
                "value": [
                  {
                    "options": {
                      "match": "null",
                      "result": {
                        "index": 1,
                        "text": "0"
                      }
                    },
                    "type": "special"
                  }
                ]
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Avg. duration (succ.)"
            },
            "properties": [
              {
                "id": "mappings",
                "value": [
                  {
                    "options": {
                      "match": "null+nan",
                      "result": {
                        "index": 0,
                        "text": "-"
                      }
                    },
                    "type": "special"
                  }
                ]
              },
              {
                "id": "unit",
                "value": "s"
              },
              {
                "id": "custom.displayMode",
                "value": "color-background-solid"
              },
              {
                "id": "thresholds",
                "value": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "transparent",
                      "value": null
                    },
                    {
                      "color": "#FFEE52",
                      "value": 60
                    },
                    {
                      "color": "orange",
                      "value": 120
                    },
                    {
                      "color": "red",
                      "value": 240
                    }
                  ]
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Avg. duration (fail.)"
            },
            "properties": [
              {
                "id": "mappings",
                "value": [
                  {
                    "options": {
                      "match": "null+nan",
                      "result": {
                        "index": 0,
                        "text": "-"
                      }
                    },
                    "type": "special"
                  }
                ]
              },
              {
                "id": "unit",
                "value": "s"
              },
              {
                "id": "custom.displayMode",
                "value": "color-background-solid"
              },
              {
                "id": "thresholds",
                "value": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "transparent",
                      "value": null
                    },
                    {
                      "color": "light-yellow",
                      "value": 60
                    },
                    {
                      "color": "orange",
                      "value": 120
                    },
                    {
                      "color": "red",
                      "value": 240
                    }
                  ]
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 10,
        "w": 24,
        "x": 0,
        "y": 10
      },
      "id": 69,
      "options": {
        "footer": {
          "fields": "",
          "reducer": [
            "sum"
          ],
          "show": false
        },
        "showHeader": true,
        "sortBy": [
          {
            "desc": true,
            "displayName": "Avg. duration (succ.)"
          }
        ]
      },
      "pluginVersion": "8.5.15",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_PROMETHEUS}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "sum by (sls,sid,fun) (ceil(increase(salt_state_results{instance=\"$server:$saline_port\",status=~\"(succeeded|notrun)\"}[$__range])))",
          "format": "table",
          "instant": true,
          "legendFormat": "StatesSucceeded",
          "range": false,
          "refId": "StatesSucceeded"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_PROMETHEUS}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "sum by (sls,sid,fun) (increase(salt_state_duration{instance=\"$server:$saline_port\",status=~\"(succeeded|notrun)\"}[$__range]) / clamp_min(ceil(increase(salt_state_results{instance=\"$server:$saline_port\",status=~\"(succeeded|notrun)\"}[$__range])),1) / 1000)",
          "format": "table",
          "hide": false,
          "instant": true,
          "legendFormat": "StatesSucceededAvgDur",
          "range": false,
          "refId": "StatesSucceededAvgDur"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_PROMETHEUS}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "sum by (sls,sid,fun) (ceil(increase(salt_state_results{instance=\"$server:$saline_port\",status=\"failed\"}[$__range])))",
          "format": "table",
          "hide": false,
          "instant": true,
          "legendFormat": "StatesFailed",
          "range": false,
          "refId": "StatesFailed"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_PROMETHEUS}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "sum by (sls,sid,fun) (increase(salt_state_duration{instance=\"$server:$saline_port\",status=\"failed\"}[$__range]) / clamp_min(ceil(increase(salt_state_results{instance=\"$server:$saline_port\",status=\"failed\"}[$__range])),1) / 1000)",
          "format": "table",
          "hide": false,
          "instant": true,
          "legendFormat": "StatesFailedAvgDur",
          "range": false,
          "refId": "StatesFailedAvgDur"
        }
      ],
      "title": "Salt States Profiling",
      "transformations": [
        {
          "id": "merge",
          "options": {}
        },
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "Time": true,
              "Value": false,
              "Value #StatesFailed": false,
              "Value #StatesSucceeded": false,
              "instance": true,
              "job": true
            },
            "indexByName": {
              "Time": 0,
              "Value #StatesFailed": 6,
              "Value #StatesSucceeded": 4,
              "Value #StatesSucceededAvgDur": 5,
              "fun": 3,
              "sid": 2,
              "sls": 1
            },
            "renameByName": {
              "Value #A": "Avg. duration (fail.)",
              "Value #StatesFailed": "Failed",
              "Value #StatesFailedAvgDur": "Avg. duration (fail.)",
              "Value #StatesSucceeded": "Succeeded",
              "Value #StatesSucceededAvgDur": "Avg. duration (succ.)",
              "fun": "Function",
              "instance": "",
              "sid": "State ID",
              "sls": "SLS"
            }
          }
        },
        {
          "id": "filterByValue",
          "options": {
            "filters": [
              {
                "config": {
                  "id": "greater",
                  "options": {
                    "value": 0
                  }
                },
                "fieldName": "Succeeded"
              },
              {
                "config": {
                  "id": "greater",
                  "options": {
                    "value": 0
                  }
                },
                "fieldName": "Failed"
              }
            ],
            "match": "any",
            "type": "include"
          }
        }
      ],
      "type": "table"
    }
  ],
  "refresh": "",
  "schemaVersion": 36,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": [
      {
        "hide": 2,
        "name": "job",
        "query": "saline",
        "skipUrlSync": false,
        "type": "constant"
      },
      {
        "current": {
          "selected": false,
          "text": "default",
          "value": "default"
        },
        "hide": 2,
        "includeAll": false,
        "label": "datasource",
        "multi": false,
        "name": "DS_PROMETHEUS",
        "options": [],
        "query": "prometheus",
        "refresh": 1,
        "regex": "",
        "skipUrlSync": false,
        "type": "datasource"
      },
      {
        "current": {
          "isNone": true,
          "selected": false,
          "text": "None",
          "value": ""
        },
        "datasource": {
          "type": "prometheus",
          "uid": "${DS_PROMETHEUS}"
        },
        "definition": "label_values(salt_state_jobs{job=\"$job\"} , instance)",
        "hide": 0,
        "includeAll": false,
        "label": "Server",
        "multi": false,
        "name": "server",
        "options": [],
        "query": {
          "query": "label_values(salt_state_jobs{job=\"$job\"} , instance)",
          "refId": "StandardVariableQuery"
        },
        "refresh": 2,
        "regex": "([\\w-.]*):\\w*",
        "skipUrlSync": false,
        "sort": 0,
        "type": "query"
      },
      {
        "hide": 2,
        "name": "saline_port",
{%- endraw %}
        "query": "{{ salt['pillar.get']('prometheus:saline_port') }}",
{% raw -%}
        "skipUrlSync": false,
        "type": "constant"
      }
    ]
  },
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "",
  "title": "Saline State Jobs",
  "uid": "7Pv5jSf4z",
  "version": 45,
  "weekStart": ""
}
{%- endraw %}
